.domain, .axis-y > .tick > line {
  stroke: transparent;
}
.axis-x > .tick > line {
  opacity: 0.2;
}
.tick > text {
  font-family: Verdana;
  font-size: 12px;
}
.axis-y > .tick > text {
  transform: translateX(-10px);
}
rect {
  fill: #125D98;
  opacity: 0.6;
}
/* card style */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.1px solid lightgray;
  box-shadow: 5px 5px 5px lightgray;
  width: min-content;
  padding: 40px;
}
.container-fluid {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
